html {
    background-color:yellow;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 650px;
    padding: 10px;
    background-color: white;
    text-align: center;
    border: 10px double blue;
}

main {
    font-size: 110%;
    padding-left: 5px;
    padding-right: 15px;
    padding-bottom: 0;
    text-align: left;
}

img {
    float: left; 
    margin-right: 20px; 
    padding: 0 5px 5px 0px; 
   
}

ul, li, blockquote {
    margin-top: 5px; 
    margin-left: 0;
    
}

cite {
    color: #0077cc; 
    font-style: normal; 
    text-align: right;
    padding-right: 10px;
}


h1 {
    font-size: 150%;
    color: blue;
    margin: 5px 0 20px 0; 
}

h2 {
    font-size: 125%;
   

}
h3 {
    font-size: 115%;

}

footer {
    font-size: 90%;
    font-weight: bold;
    border-top: 4px solid blue;
   
}